/* Definindo a fonte global */
body {
    font-family: Arial, sans-serif;
}

/* Topo com links e login */
.top-bar {
    display: flex;
    background-color: #ffffff;
    gap: 15px;
    text-align: center;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.top-bar a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px;
}

.top-bar a:nth-child(1) {
    color: #FF5733; /*nstitucional*/
}

.top-bar a:nth-child(2) {
    color: #1fb33a; /*Nossas Lojas*/
}

.top-bar a:nth-child(3) {
    color: #3353e0; /*Blog*/
}

.top-bar a:nth-child(4) {
    color: #eba700; /*Atendimento*/
}

.top-bar a:nth-child(5) {
    color: #e929b9; /*Cor para "Trabalhe com a Gente*/
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #106eb1 0%, #084b8a 100%);
    padding: 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}
.header-logo img {
    height: 120px;
    margin-left: 150px;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 20px; 
}
.search-bar input {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    margin-right: 10px;
}
.search-bar button {
    padding: 5px 10px;
    background-color: #c9212e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border-radius: 5px;
}

.header-buttons {
    display: flex; 
    gap: 5px; 
    margin-right: 40px;

}

.header-buttons a {
   color: #ffffff;
   background-color: #ff3333;
}

.header-buttons button {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    color: #000000;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    flex-shrink: 0; 
    
}

.header-buttons button .material-icons {
    margin-right: 5px;
}

.navbar-categories {
    background-color: #106eb1;
    text-align: center;
    padding: 10px 0;
}
.navbar-categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-categories li {
    display: inline-block;
    margin: 0 15px;
}
.navbar-categories a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 3px;
}

.navbar-categories a:hover {
    background-color: white;
    color: black;
}


.category-highlights {
    display: flex;
    justify-content: center;
    padding: 1px ;
    background-color: #ffffff;
    margin: 5px 0 auto 0;
    scroll-behavior: smooth;
    align-items: center;
    overflow: auto;
    width: 100%;
    
    
}

.content {
    display: flex;
   justify-content: space-between;
   padding: 0 15px;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

.category {
    
    display: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin:10px;
    padding: 5px;
    width: 120px;
    box-sizing: border-box;

}
.category img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 30px;
}
.category p {
    font-size: 14px;
    color: #333;
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
    margin: 0;
    line-height: 1.4; 
    text-align: center;
}


.scroll-btn {
    background-color: transparent;
    color: blue;
    border: black;
    cursor: pointer;
    padding: 10px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.scroll-btn.left {
    margin-right: 20px;
    padding-left: 240px;
    
}

.scroll-btn.right {
    margin-left: 20px;
    padding-right: 240px;
   
}

.scroll-btn i {
    font-size: 40px; /* Altere o tamanho conforme necessário */
}

.submenu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #312b2b;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 70%;

}

.submenu ul {
    margin: 10px;
    display: grid;
    list-style-type: disc;
    color: #555;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
   
   
}

.submenu li {
    margin-bottom: 8px;
    
}

.submenu li a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

.submenu li a:hover {
    color: #1900ff;
}

/* Exibe o menu suspenso ao passar o mouse sobre a categoria */
.category:hover .submenu {
    display: block;
}

/*  Botão do carrinho e modal simplificados */


.cart-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#cart-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

#cart-button:hover {
    background-color: #45a049;
}

.cart-modal {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: none;
}

.cart-header {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cart-logo {
    max-height: 40px;
    max-width: 80%;
}

#cart-items {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    font-size: 14px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;


}

.cart-item span {
    text-align: center;
    font-size: 14px;
    flex-shrink: 0;
}

.cart-item .item-name {
    flex: 1;
    word-wrap: break-word; /* Quebra a linha quando necessário */
    word-break: break-word;
    text-align: left; /* Alinha o texto à esquerda */
}

.cart-item .remove-btn {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.cart-item .quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-item .quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-item .quantity-controls button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.cart-item .quantity-controls button:hover {
    background-color: #e0e0e0;
}

.cart-item .item-price {
    text-align: right; /* Alinha valores à direita */
    min-width: 70px; /* Define um espaço fixo para os preços */
}

.cart-item .remove-btn {
    margin-left: auto; /* Empurra o botão para a direita */
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.quantity-controls button:hover {
    background-color: #e0e0e0;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.checkout-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.checkout-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.checkout-btn:hover:not(:disabled) {
    background-color: #45a049;
}


/* gaal */

.main-banner {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.product-listing {
    padding: 20px 0;
    background-color: #ffffff;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-item img {
    width: 80px;
    height: auto;
    margin-right: 15px;
}

.product-info {
    flex-grow: 1;
}

.product-listing .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 20px;
}

.offer-tag {
    background-color: #d05034;
    color: #ffffff;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

.old-price {
    font-size: 12px;
    color: #666666;
    text-decoration: line-through;
}

.price {
    font-size: 16px;
    color: #106eb1;
    font-weight: bold;
    margin: 5px 0;
}

.product-name {
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
}

.product-controls {
    display: flex;
    align-items: center;
    
}

.product-controls input {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    
}

.buy-button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #218838;
}

section {
    margin: 2px 0;
}

.carousel-container {
    width: 100%;
    max-width: 85%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.stripe  {
    margin-top: 0;
    margin-bottom: 0;
}
.footer-container {
    font-family: Arial, sans-serif;
}

.footer-top {
    background-color: #106eb1;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    flex-wrap: wrap;
}

.relationship-text {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-left: 15%;
}

.contact-box {
    background-color: #ffffff;
    color: #333333;
    padding: 10px 20px; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px 10px; 
    flex: 1; 
    margin-right: 15%;
}

.contact-box p {
    display: flex;
    align-items: center; 
    margin: 0;
}

.social-media a {
    color: #ffffff;
    margin-left: 10px;
    font-size: 18px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    margin-left: 13.5%;
    margin-right: 8%;
    background-color: white;
    background-color: #ffffff;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column h4 {
    margin-bottom: 10px;
    color: #333333;
}
.footer-column a{
    font-size: 12px;
    color: #555555;
}

.footer-column p, .footer-column ul {
    font-size: 12px;
    color: #555555;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #555555;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}
.social-icons a {
    margin-right: 10px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.app-links img {
    width: 120px;
    margin-right: 10px;
}

@media (max-width: 1250px) {

    .footer-top {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    .relationship-text {
        padding-bottom: 10px;
        text-align: center ;
        margin: 0;
        }
    
    .contact-box {
        width: 75%; 
        margin: 0; 
        gap: 30px;
        text-align: center;
        }  

}

@media (max-width: 860px) {
    .category {
        width: 100px; 
        margin: 8px; 
    }

    .category img {
        width: 40px;
        height: 40px;
    }

    .category p {
        font-size: 10px;
    }

    .main-header {
        display: flex;
        justify-content: center;
        flex-direction: column; 
        align-items: center;
        padding: 20px 0px;
        width: 100%;
    }

    .header-logo img {
        height: 120px; 
        margin-left: 0;
    }

    .search-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px ; 
    }

    .search-bar input {
        width: 73%; 
    }

    .header-buttons {
        display: flex;
        justify-content: center; 
        align-items: center;
        gap: 10px; 
        margin: 0 auto;
        position: relative;
    }

    .header-buttons button {
        padding: 10px 40px;
        font-size: 14px;
        text-align: center;
    }

    .navbar-categories {
        display: flex;
        background-color: #106eb1;
        text-align: center;
        padding: 10px 0;
        flex-direction: row; /* Deixa as categorias lado a lado em telas maiores */
        justify-content: center; /* Centraliza os itens horizontalmente */
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha, se necessário */
        gap: 10px; /* Adiciona espaçamento entre as categorias */
    }

    .navbar-categories ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex; /* Garante o alinhamento horizontal dos textos */
        flex-wrap: wrap; /* Permite quebra em várias linhas em telas menores */
        justify-content: center; /* Centraliza os itens no contêiner */
        gap: 10px; /* Espaçamento entre as categorias */
    }

    .navbar-categories ul li {
        font-size: 14px; /* Reduz o tamanho da fonte em telas menores */
        padding: 10px; /* Ajusta o espaçamento interno */
    }

    .navbar-categories ul {
        flex-wrap: wrap; /* Quebra as categorias em várias linhas, se necessário */
    }

    .footer-top {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    .relationship-text {
        padding-bottom: 10px;
        text-align: center ;
        margin: 0;
        }
    
    .contact-box {
        flex-direction: column; 
        width: 90%; 
        margin: 0; 
        gap: 10px;
        text-align: center;
    }
    
    .category-highlights {
        display: flex;
        justify-content: center;
        padding: 1px ;
        background-color: #ffffff;
        margin: 5px;
        scroll-behavior: smooth;
        align-items: center;
        overflow: hidden;
     
        
    }
    
    .scroll-btn {
        background-color: transparent;
        color: blue;
        border: black;
        cursor: pointer;
        padding: 10px 0;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    
    .scroll-btn.left {
        margin-right: 20px;
        padding-left: 20px;
        
    }
    
    .scroll-btn.right {
        margin-left: 20px;
        padding-right: 20px;
       
    }

    .footer-bottom {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        padding: 20px 5%;
        margin: 0;
        background-color: white;
        background-color: #ffffff;
    }

    .footer-column {
        flex: 1;
        margin: 0;
    }
    
    .footer-column h4 {
        margin-bottom: 10px;
        color: #333333;
    }
    .footer-column a{
        font-size: 12px;
        color: #555555;
    }
    
    .footer-column p, .footer-column ul {
        font-size: 12px;
        color: #555555;
    }
    
    .footer-column ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-column ul li {
        margin-bottom: 5px;
    }
    
    .footer-column ul li a {
        color: #555555;
        text-decoration: none;
    }
    
    .footer-column ul li a:hover {
        text-decoration: underline;
    }
    .social-icons a {
        margin-right: 10px;
        display: inline-block;
    }
    
    .social-icons img {
        width: 24px;
        height: 24px;
    }
    
    .app-links img {
        width: 120px;
        margin-right: 10px;
    }
    
}



/* Estilo geral para os botões */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 12px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    text-align: right;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Botão de login */
.button.login {
    background-color: #48b82c; 
    color: #fff;
}

.button.login:hover {
    background-color: #cabc60; 
}

.button.register {
    background-color: #008CBA;
    color: #fff;
}

.button.register:hover {
    background-color: #007bb5;
}


.button .material-icons {
    font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

